[alias]
	# Remove branches that have already been merged with main.
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[user]
	useConfigOnly = true
[init]
	defaultBranch = main
